<table class="ui table">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        test
      </td>
      <td>
        test
      </td>
      <td>
        test
      </td>
      <td>
        test
      </td>
      <td>
        test
      </td>
      <td>
        test
      </td>
  </tbody>
</table>