{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> BMI Tracker </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!</p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/fc25b7d2-ea1a-4796-a333-e74e38a902e6%2Fabout.jpg?1497449510375">
  </div>
</section>